/* Overall Formatting */

/* Cursive font: 'Pacifico', cursive;*/
/* Sans serif font: 'Questrial', sans-serif;*/
/* Navy:  #2f4550;*/
/* Cream: #f7fff7;*/
/* Orange: #ffe66d;*/
/* Gray: #586f7c; */
/* Light Blue: #b8dbd9; */ 

html {
  font-family: 'Questrial', sans-serif;
}

body {
  background-color: #f7fff7;
}

h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}

.btn-default {
  background-color: #30323D;
  color: #FFF; 
}

.btn-primary {
  background-color: #586f7c;
}

.btn-danger{
  background-color: #ff6b6b;
}

.form {
    background: #FFFF99;
    padding: 5%;
    border-radius: 4px;
    box-shadow: 6px 6px 10px 0px rgba(138,130,138,.5);
    margin: 8%;
    height: 40%;
}

.in-heading {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}

#create-account-submit {
    text-align: center;
}

/* Homepage */
.homepage {
    background-image: url("/static/sf-night.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.night {
  font-family: 'Pacifico', cursive;
  color: #f7fff7;
}

.out {
  font-family: 'Questrial', sans-serif;
  color: #f7fff7;
}

.night-out-header{
  text-align: center;
  font-size: 48px;
  color: #f7fff7;
}

.home-blurb {
  text-align: center;
  color: #f7fff7;
  font-family: 'Questrial', sans-serif;
}

.btn-started{
  background-color: #ffe66d;
  color: #2f4550;
}

.start-btn{
  text-align: center;
}

/* Navbar */
.night-out-nav{
  font-size: 28px;
}

.navbar-collapse{
  background-color: #2f4550;
  color: #f7fff7;
}

.nav{
  color: #f7fff7;
}


/* Profile */
.options {
    display: inline-block;
  }

.boot-tab a {
    color: #FFF;
    text-decoration: none;
}

.google-map {
    height: 300px;
    padding: 100px;
    vertical-align: center;
    margin-left:auto;
    margin-right:auto;
  }

.map-col{
    margin-top: 25px;
    margin-bottom: 10px;
}

.upcoming-plan{
    padding: 5px;
}

.row {
    background: rgba(241, 245, 247, 0.65);
}

.boot-tab{
    background: rgb(1, 1, 59);
    color: rgb(250, 250, 250);
}

.plan-info-and-map{
    border-bottom: 3px groove #4D5061;
}

.past-plan {
  border-bottom: 3px groove #4D5061;
  background: rgba(241, 245, 247, 0.65);
}

.chart-button{
    background-color: rgb(218, 165, 32);
}


/* Business choosing forms */

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #30323D;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#entire-drop {
    margin-top: auto;
  }

#pagination-buttons {
    text-align: center;
}

