{% extends 'base.html' %}
{% block content %}

{% if 'current_user' in session %}
    {% if plan.invitees %}
    <h2>Add up to {{12 - plan.invitees|length}} more friends</h2>
    {% else %}
    <h2>Add up to 12 friends</h2>
    {% endif %}
    <a href="/profile" class="btn btn-primary">Add friends later</a>
    <form id="add_friends_plan" action="/add-friends/{{plan.plan_id }}" method="POST">
    {% for friend in range(12- plan.invitees|length) %}
    <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p> 
      First Name:<input type="text" name={{ "fname"+friend|string }}>
      Last Name:<input type="text" name={{ "lname"+friend|string }}><br>
      E-mail:<input type="email" name={{ "email"+friend|string }}>
      Phone Number:<input type="tel" name={{ "phone"+friend|string }}><br>
    {% endfor %}
      <input type="submit" id="submit_button">
    </form>


{% else %}
    <a href="/login-form" class="btn btn-primary">Log In</a>
    <a href="/create-account" class="btn btn-primary">Create Account</a>
{% endif %}

{% endblock %}