{% extends 'base.html' %}
{% block content %}


{% if (upcoming) or (past) %}
<a href="/new-plan" class="btn btn-primary">Create New</a>
<br><br>


<ul class="nav nav-tabs">
  <li class="active boot-tab"><a data-toggle="tab" href="#upcoming">Upcoming Plans</a></li>
  <li><a class="boot-tab" data-toggle="tab" href="#past">Past Plans</a></li>
  <li><a class="boot-tab" data-toggle="tab" href="#analytics">Analytics</a></li>
</ul>

<div class="tab-content">
  <div id="upcoming" class="tab-pane fade in active">
  <div class="container">
  {% for plan in upcoming %}
  <div class="plan-info-and-map row">
  <div class="upcoming-plan col-xs-6">
      <h3>{{ plan.event_time.strftime('%B %-d, %Y')}} {{plan.plan_name }}</h3>
      {% if (plan.food_name) and (plan.food_time) %}
      <h4>{{ plan.food_time.strftime('%-I:%M %p')}}: {{plan.food_name}}</h4>
        <p class="bus-address">{{plan.food_address}}</p>
        <p class="bus-address2">{{plan.food_city}}, {{plan.food_state}} {{plan.food_zipcode}}</p>
        <p class="plan-id" hidden>{{plan.plan_id}}</p>
        <p class="food-name" hidden>{{plan.food_name}}</p>
        <p class="food-longitude" hidden>{{plan.food_longitude}}</p>
        <p class="food-latitude" hidden>{{plan.food_latitude}}</p>  
      {% endif %}
      <h4>{{plan.event_time.strftime('%-I:%M %p') }}: {{plan.event_name}}</h4>
        {% if plan.event_location %}
        <p>{{plan.event_location}}</p>
        {% endif %}
        <p class="plan-address">{{plan.event_address}}</p>
        <p class="plan-address2">{{plan.event_city}}, {{plan.event_state}} {{plan.event_zipcode}}
        <p class="event-name" hidden>{{plan.event_name}}</p>
        <p class="event-longitude" hidden>{{plan.event_longitude}}</p>
        <p class="event-latitude" hidden>{{plan.event_latitude}}</p>  
      {% if plan.invitees %}
      <h4>Friends Invited:</h4>
      {% endif %}
      {% for invitees in plan.invitees %}
        {% if not invitees.email == session['current_user']  %}
        <p>{{invitees.first_name}} {{invitees.last_name}}</p>
      {% endif %}
      {% endfor %}
      {% if plan.invitees|length == 1 %}
        {% if plan.invitees[0].email == session['current_user'] %}
        <p>Just you!</p>
        {% endif %}
      {% endif %}
      {% if plan.plan_user_creator == current_user %}
    <div class="dropdown options">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Edit Plan
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/edit-plan/{{plan.plan_id}}">Edit Event</a></li>
        <li><a href="/choose-restaurant/{{plan.plan_id}}">Edit Restaurant/ Bar</a></li>
        <li><a href="/add-more-friends/{{plan.plan_id}}">Add Friends</a></li>
      </ul>
      </div>
    <a href="/delete-plan/{{plan.plan_id}}" class="btn btn-danger">Delete Plan</a>
      {% endif %}
    <button class="btn btn-warning decline_plan_btn" value="/decline-plan/{{plan.plan_id}}">Decline Plan</button>
    </div>
    <div class="map-col col-xs-6 aligncenter">
    <div class="google-map" id="map{{plan.plan_id}}"></div>
    </div>
  </div>
  {% endfor %}
  </div>
  </div>

  <div id="past" class="tab-pane fade">
  {% for plan in past %}
  <div class="past-plan">
      <h3>{{ plan.event_time.strftime('%x')}} {{plan.plan_name }}</h3>
      {% if (plan.food_name) and (plan.food_time) %}
      <h4>{{ plan.food_time.strftime('%-I:%M %p')}}: {{plan.food_name}}</h4>
        <p>{{plan.food_address}}</p>
        <p>{{plan.food_city}}, {{plan.food_state}} {{plan.food_zipcode}}</p>  
      {% endif %}
      <h4>{{plan.event_time.strftime('%-I:%M %p') }}: {{plan.event_name}}</h4>
        {% if plan.event_location %}
        <p>{{plan.event_location}}</p>
        {% endif %}
        <p>{{plan.event_address}}</p>
        <p>{{plan.event_city}}, {{plan.event_state}} {{plan.event_zipcode}}
      {% if plan.invitees %}
      <h4>Friends Invited:</h4>
      {% endif %}
      {% for invitees in plan.invitees %}
        {% if not invitees.email == session['current_user']  %}
        <p>{{invitees.first_name}} {{invitees.last_name}}</p>
      {% endif %}
      {% endfor %}
  </div>
  {% endfor %}
  </div>

  <div id="analytics" class="tab-pane fade">
    <div id="event-jchart" class="event-chart collapse in">
      <canvas id="lineChart" width="60" height="30"></canvas>
      <div id="lineLegend" class="chart-legend"></div>
    </div>
    <div class="chartCollapseContainer">
      <button type="button" id="chart-btn" class="btn btn-info" data-toggle="collapse" data-target="#event-jchart">Collapse Chart</button>
    </div>
  </div>
</div>
{% else %}
<a href="/new-plan">You have no plans yet. Create one now!</a>
{% endif %}


<script>
"use strict";
    // Make Line Chart of event frequency by month
    var ctx_line = $("#lineChart").get(0).getContext("2d");

// Creates Google map for each upcoming plan using events coordinates as the center
function initMap(){
   $(".upcoming-plan").each(function() {
      var plan_id = $(this).children(".plan-id").html();
      var event_name = $(this).children(".event-name").html();
      var event_latitude = parseFloat($(this).children(".event-latitude").html());
      var event_longitude = parseFloat($(this).children(".event-longitude").html());
      var food_name = $(this).children(".food-name").html();
      var food_latitude = parseFloat($(this).children(".food-latitude").html());
      var food_longitude = parseFloat($(this).children(".food-longitude").html());
      var eventltLng = {lat: event_latitude, lng: event_longitude};
      var foodltLng = {lat: food_latitude, lng: food_longitude};
      var event_image = '/static/calendar.png'
      var food_image = '/static/fork.png'
      
      var map = new google.maps.Map(document.getElementById("map"+plan_id), {
        zoom: 14,
        center: eventltLng,
        gestureHandling: 'cooperative',
        mapTypeControl: false,
        streetViewControl: false
      });

      var eventMarker = new google.maps.Marker({
        position: eventltLng,
        map: map,
        title: event_name,
        icon: event_image
      });

      if (food_name != "") {
        var foodMarker = new google.maps.Marker({
          position: foodltLng,
          map: map,
          title: food_name,
          icon: food_image
        });
      }
    });
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4vEycjJ1g4LUHzhfZfi0qAfMlWt3jRX8&libraries=places&callback=initMap"
        async defer></script>

{% endblock %}