<!doctype html>
<html>
<head>
  <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Playfair+Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Questrial" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
</head>

<body>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% if 'current_user' in session %}
                <li><a class="nav" href="/new-plan">New</a></li>
                <li><a class="nav" href="/upcoming">Upcoming</a></li>
                <li><a class="nav" href="/past">Past</a></li>
                <li><a class="nav" href="/analytics">Analytics</a></li>
                <li><a class="nav" href="/logout">Log Out</a></li>
            {% else %}
                <li><a class="nav" href="/login-form">Log In</a></li>
                <li><a class="nav" href="/create-account">Create Account</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-left night-out-nav"><a href="/upcoming"><span class="night">night</span><span class="out">OUT</span></a></ul>
    </div>



<div class="container">

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{message}}
          </div>
      {% endfor %}
  {% endwith %}

  <!-- This is where the main content goes. -->
  {% block content %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/static/script.js"></script>
</body>
</html>