{% extends 'base.html' %}
{% block content %}

{% if 'current_user' in session %}
    <h2>Choose a bar or restaurant! </h2>
    <form id="add_restaurant_plan" action="/choose-restaurant/{{ current_plan_id}}" method="POST"> 
      <h4> Bars - </h4>
      {% for bar in bars['businesses'] %}
      <input type="radio" class='business_name' name='event_food' value={{bar['id']}}><a href={{bar['url']}}>{{bar['name']}}</a><br>
      <div class='business_info'>Yelp Rating: {{bar['rating']}}<br> 
                                Distance from Event: {{'%0.2f' % (bar['distance']|float/1609.03)}} mi.</div>
      {% endfor %}
      <h4> Restaurants - </h4>
      {% for rest in restaurants['businesses'] %}
      <input type="radio" class='business_name' name='event_food' value={{rest['id']}}><a href={{rest['url']}}>{{rest['name']}}</a><br>
      <div class='business_info'>Yelp Rating: {{rest['rating']}}<br> 
                          Distance from Event: {{'%0.2f' % (rest['distance']|float/1609.03)}} mi.</div>
      {% endfor %}
      <input type="submit" id="submit_button">
    </form>

{% else %}
    <li><a href="/login-form">Log In</a></li>
    <li><a href="/create-account">Create Account</a></li>
{% endif %}

{% endblock %}

<script src="https://code.jquery.com/jquery.js"></script>
<script>

</script>