{% extends 'base.html' %}
{% block content %}

{% if 'current_user' in session %}

<style type="text/css">
  #entire-drop {
    float: right;
    margin: 50px;
  }
</style>


<form id="customize_restaurant_form" action="dont_go_here">
  Meet at:<select id="bar_or_rest" name="bar_or_restaurant">
            <option value="bars">Bar</option>
            <option value="restaurants">Restaurant</option>
          </select><br>
          <select id="time_before" name="time_before">
            <option value="0.5">30 minutes</option>
            <option value="1">1 hour</option>
            <option value="1.5">1.5 hours</option>
            <option value="2">2 hours</option>
            <option value="2.5">2.5 hours</option>
            <option value="3">3 hours</option>
            <option value="3.5">3.5 hours</option>
            <option value="4">4 hours</option>
            <option value="4.5">4.5 hours</option>
            <option value="5">5 hours</option>
          </select> Before event<br>
     Up to<select id="distance" name="distance">
            <option value="0.5">1/2 mile</option>
            <option value="1">1 mile</option>
            <option value="5">5 miles</option>
            <option value="10">10 miles</option>
          </select> away <br>
<input type="hidden" value='{{current_plan_id}}' id="plan_id">
<input type="submit" id="submit_button">
</form>

<div id="restaurant_options" hidden>
      <div id="entire-drop" class="dropdown options">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By:
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="" id="sortpricelow">Price: Low to High</a></li>
        <li><a href="" id="sortpricehigh">Price: High to Low</a></li>
        <li><a href="" id="sortrating">Yelp Rating</a></li>
        <li><a href="" id="sortdistance">Distance</a></li>
      </ul>
      </div>
<h4>Choose one:</h4>
<p>Highlighted businesses are restaurants or bars that have appeared in your Night Out plans</p>
<form id="add_restaurant_plan" action="/choose-restaurant/{{ current_plan_id}}" method="POST">
  <div id="business_buttons"></div>
    <ul class="pagination">
      <li value="1" id="buspg1" class="active buspg"><a>1</a></li>
      <li value="2" id="buspg2" class="buspg"><a>2</a></li>
      <li value="3" id="buspg3" class="buspg"><a>3</a></li>
      <li value="4" id="buspg4" class="buspg"><a>4</a></li>
      <li value="5" id="buspg5" class="buspg"><a>5</a></li>
      <li value="6" id="buspg6" class="buspg"><a>6</a></li>
      <li value="7" id="buspg7" class="buspg"><a>7</a></li>
      <li value="8" id="buspg8" class="buspg"><a>8</a></li>
      <li value="9" id="buspg9" class="buspg"><a>9</a></li>
      <li value="10" id="buspg10" class="buspg"><a>10</a></li>
    </ul>
      <input type="submit" id="submit_button">
</form>
</div>


{% else %}
    <a href="/login-form" class="btn btn-primary">Log In</a>
    <a href="/create-account" class="btn btn-primary">Create Account</a>
{% endif %}

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
"use strict";

var all_businesses;
var prevPage = 1;
var limit = 50;

function showChooseBusinesses(yelp_json){
// Fill in form from Yelp API json
  
  // Stores yelp json for all functions to access
  all_businesses = yelp_json;

  $('#restaurant_options').show();

  showBusinessesOptions(1);

}

function showBusinessesOptions(pageNum){

  $("#buspg" + String(prevPage)).removeClass("active");
  prevPage = pageNum;
  $("#buspg" + String(prevPage)).addClass("active");

    var business;
    var bus_url;
    var bus_name;
    var bus_rating;
    var bus_distance;
    var bus_price;
    var bus_prior;
    var bus_id;

  $('#business_buttons').html("")

  for (var bus=(pageNum * 5) - 5; bus < pageNum * 5 && bus < limit; bus ++){
    // Radio buttons for business options

    business = all_businesses[bus];
    bus_url = business['url'];
    bus_id = business['id'];
    bus_name = business['name'];
    bus_rating = business['rating'];
    bus_price = business['price'];
    bus_distance = Number(business['distance']/1609.03).toFixed(2); 
    bus_prior = business['prior'];

    $('#business_buttons').append("<p id=\""+bus_id+"\"><input type=\"radio\" name=\"event_food\" value=\'"+JSON.stringify(business)+"\''><a href="+bus_url+" target=\"_blank\">"+bus_name+"</a><br>Yelp Rating: "+bus_rating+"<br>Distance from Event: "+bus_distance+" mi."+"<br>Price: "+bus_price+"</p>");

    if (bus_prior == true) {
      $('#'+bus_id).css("background-color", "#ffff99");
    }
  }
}

function businessOptions(evt){
  evt.preventDefault();

  $('#customize_restaurant_form').hide();

  var user_prefs = {
    'plan_id' : $('#plan_id').val(),
    'bar_or_rest' : $('#bar_or_rest').val(),
    'time_before' : $('#time_before').val(),
    'distance' : $('#distance').val()
  };

  $.post('/yelp.json', user_prefs, showChooseBusinesses);
}

$('#customize_restaurant_form').on('submit', businessOptions);

$(".buspg").on("click", function () {
                showBusinessesOptions(this.value);
                });

</script>


{% endblock %}