{% extends 'base.html' %}
{% block content %}

{% if 'current_user' in session %}


<form id="customize_restaurant_form" class="form-horizontal" action="dont_go_here">
  <label for="bar_or_rest">Meet at</label>
  <select id="bar_or_rest" class="form-control" name="bar_or_restaurant">
    <option value="bars">Bar</option>
    <option value="restaurants">Restaurant</option>
  </select>
  <label for="time_before">Time before event</label>
  <select id="time_before" class="form-control" name="time_before">
    <option value="0.5">30 minutes</option>
    <option value="1">1 hour</option>
    <option value="1.5">1.5 hours</option>
    <option value="2">2 hours</option>
    <option value="2.5">2.5 hours</option>
    <option value="3">3 hours</option>
    <option value="3.5">3.5 hours</option>
    <option value="4">4 hours</option>
    <option value="4.5">4.5 hours</option>
    <option value="5">5 hours</option>
  </select>
  <label for="distance">Distance from event</label>
  <select id="distance" class="form-control" name="distance">
    <option value="0.5">1/2 mile</option>
    <option value="1">1 mile</option>
    <option value="5">5 miles</option>
    <option value="10">10 miles</option>
  </select>
  <br>
  <input type="hidden" value='{{current_plan_id}}' id="plan_id">
  <button type="submit" class="btn btn-default" id="submit_button">Submit</button>
</form>

<div id="restaurant_options" class="container" hidden>
  <div id="choosing-business-options" class="row">
    <div id="helpful-info-text" class="col-xs-9">
      <h4>Choose one:</h4>
      <p>Highlighted businesses are restaurants or bars that have appeared in your Night Out plans</p>
    </div>
  <div id="entire-drop" class="dropdown options col-xs-3">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By:
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a id="sortpricelow">Price: Low to High</a></li>
      <li><a id="sortpricehigh">Price: High to Low</a></li>
      <li><a id="sortrating">Yelp Rating</a></li>
      <li><a id="sortdistance">Distance</a></li>
    </ul>
  </div>
  </div>
  <form id="add_restaurant_plan" action="/choose-restaurant/{{ current_plan_id}}" method="POST">
    <div id="business_buttons"></div>
    <div id="pagination-buttons">
      <ul class="pagination">
        <li value="1" id="buspg1" class="active buspg"><a>1</a></li>
        <li value="2" id="buspg2" class="buspg"><a>2</a></li>
        <li value="3" id="buspg3" class="buspg"><a>3</a></li>
        <li value="4" id="buspg4" class="buspg"><a>4</a></li>
        <li value="5" id="buspg5" class="buspg"><a>5</a></li>
        <li value="6" id="buspg6" class="buspg"><a>6</a></li>
        <li value="7" id="buspg7" class="buspg"><a>7</a></li>
        <li value="8" id="buspg8" class="buspg"><a>8</a></li>
        <li value="9" id="buspg9" class="buspg"><a>9</a></li>
        <li value="10" id="buspg10" class="buspg"><a>10</a></li>
    </div>
      <button type="submit" class="btn btn-default business-submit" id="submit_button">Submit</button>
      </ul>
  </form>
</div>


{% else %}
    <a href="/login-form" class="btn btn-primary">Log In</a>
    <a href="/create-account" class="btn btn-primary">Create Account</a>
{% endif %}

<script>
"use strict";

var all_businesses;
var prevPage = 1;
var limit = 50;


function busQuickSort(sort_option, origBusiness){
  if (origBusiness.length <= 1){
    return origBusiness;
  } else {

    var left = [];
    var right = [];
    var newArray = [];
    var pivot = origBusiness.pop();
    var length = origBusiness.length;

    for (var i = 0; i < length; i++){
      if (origBusiness[i][sort_option] <= pivot[sort_option]){
        left.push(origBusiness[i]);
      } else {
        right.push(origBusiness[i]);
      }
    }

    return newArray.concat(busQuickSort(sort_option, left), pivot, busQuickSort(sort_option, right));
  }
}

function sortBusiness(sort_option){
  // Sorts restaurants by the option chosen by the user
  var sorted_options;
  if (sort_option == "low_price") {
    sorted_options = busQuickSort("price", all_businesses);

    all_businesses = sorted_options;
    showBusinessesOptions(1);
  }
  else if (sort_option == "high_price") {
    sorted_options = busQuickSort("price", all_businesses);

    all_businesses = sorted_options.reverse();
    showBusinessesOptions(1);
  }
  else if (sort_option == "rating"){
    sorted_options = busQuickSort("rating", all_businesses);

    all_businesses = sorted_options.reverse();
    showBusinessesOptions(1);
  }
  else {
    sorted_options = busQuickSort("distance", all_businesses);

    all_businesses = sorted_options;
    showBusinessesOptions(1);
  }

}

function showChooseBusinesses(yelp_json){
// Fill in form from Yelp API json
  
  // Stores yelp json for all functions to access
  all_businesses = yelp_json;

  $('#restaurant_options').show();

  showBusinessesOptions(1);

}

function showBusinessesOptions(pageNum){

  $("#buspg" + String(prevPage)).removeClass("active");
  prevPage = pageNum;
  $("#buspg" + String(prevPage)).addClass("active");

    var business;
    var bus_url;
    var bus_name;
    var bus_rating;
    var bus_distance;
    var bus_price;
    var bus_prior;
    var bus_id;

  $('#business_buttons').html("")

  for (var bus=(pageNum * 5) - 5; bus < pageNum * 5 && bus < limit; bus ++){
    // Radio buttons for business options

    business = all_businesses[bus];
    bus_url = business['url'];
    bus_id = business['id'];
    bus_name = business['name'];
    bus_rating = business['rating'];
    bus_price = business['price'];
    bus_distance = Number(business['distance']/1609.03).toFixed(2); 
    bus_prior = business['prior'];

    $('#business_buttons').append("<p id=\""+bus_id+"\"><input type=\"radio\" name=\"event_food\" value=\'"+JSON.stringify(business)+"\''><a href="+bus_url+" target=\"_blank\">"+bus_name+"</a><br>Yelp Rating: "+bus_rating+"<br>Distance from Event: "+bus_distance+" mi."+"<br>Price: "+bus_price+"</p>");

    if (bus_prior == true) {
      $('#'+bus_id).css("background-color", "#ffff99");
    }
  }
}

function businessOptions(evt){
  evt.preventDefault();

  $('#customize_restaurant_form').hide();

  var user_prefs = {
    'plan_id' : $('#plan_id').val(),
    'bar_or_rest' : $('#bar_or_rest').val(),
    'time_before' : $('#time_before').val(),
    'distance' : $('#distance').val()
  };

  $.post('/yelp.json', user_prefs, showChooseBusinesses);
}

// Button Event Listeners
$('#customize_restaurant_form').on('submit', businessOptions);
$(".buspg").on("click", function () {showBusinessesOptions(this.value);});
$("#sortpricelow").on("click", function() {sortBusiness('low_price');});
$("#sortpricehigh").on("click", function() {sortBusiness('high_price');});
$("#sortrating").on("click", function() {sortBusiness('rating');});
$("#sortdistance").on("click", function() {sortBusiness('distance');});

</script>


{% endblock %}