<!doctype html>
<html>

<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Questrial" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="homepage">
    <h1 class="night-out-header"><span class="night">night</span><span class="out">OUT</span></h1>
    <p class="home-blurb">Night Out lets you plan a fun night out with friends - start at a concert, comedy show, or any other event and choose a restaurant or bar to meet your friends before! Everyone gets an email with the plan so no more frantic last minute texting.</p>
    <p class="start-btn"><a href="/create-account" class="btn btn-primary btn-started">Get Started!</a></p>
</body>

</html>
